@import '../../styles/mixins';

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 1rem 0;
}

.logo {
    margin: auto;
}

@include md {
    .logo {
        margin: 0;
    }
}

.nav {
    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
    }

    a {
        font-weight: 900;
        font-family: var(--font-display);
    }

    a:hover {
        color: var(--main);
    }
}