:root {
    --container-w: 1100px;
    --main: rgb(199, 93, 7);
    --regular-font: 'Source Sans Pro', 'Ubuntu', 'Helvetica Neues', sans-serif;
    --display-font: 'Poppins', Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}