.root {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 4rem;
    font-family: var(--display-font);
    font-size: 1.2em;

    a:hover {
        color: var(--main);
    }

    .active {
        color: var(--main);
    }
}