.root {
    background: rgb(41, 40, 40);
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-content: center;
    justify-content: center;

    img {
        filter: invert(83%) sepia(0%) saturate(0%) hue-rotate(246deg) brightness(93%) contrast(124%);
    }

    img:hover {
        filter: none;
    }
}